{% extends 'core/base.html' %}

{% block title %} Curriculum {% endblock title %}

{% block content %}
<h3>Curriculum</h3>

<h4>Especializaciones...</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti repellat nisi nesciunt tenetur adipisci, illo
  exercitationem? Asperiores voluptates delectus perferendis exercitationem beatae ipsum maxime neque ab excepturi nemo,
  veritatis alias!</p>

<h4>Futuros Conocimientos</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas explicabo ex laudantium fugit sint, debitis qui et
  nihil eius atque natus neque facilis earum cumque minus praesentium aspernatur adipisci ut!</p>

<h4>Aprendiendo Actualmente</h4>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo ipsam quisquam, sunt natus voluptatum eos! Animi
  temporibus velit inventore incidunt quas, nesciunt expedita aliquid, facilis nobis laudantium eos laborum quidem?</p>
{% endblock content %}