{% extends 'core/base.html' %}
{% load static %}

{% block title %} Inicio {% endblock title %}

<!-- header -->
{% block content %}
<div class="home bkg-img p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 brand">
        <div>
          <h1>Alejandro Jesús Serrano</h1>
        </div>
        <div>
          <h3>Desarrollador Web</h3>
        </div>
        <div>
          <h3>Progrmador</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}