{% extends 'core/base.html' %}
{% load static %}

{% block title %} Inicio {% endblock title %}

{% block home_active %} active {% endblock %}

<!-- Header -->
{% block img_header %} home {% endblock %}

{% block header_title %}
<div>
  <h1>Alejandro Jesús Serrano</h1>
</div>
<div>
  <h3>Desarrollador Web</h3>
</div>
<div>
  <h3>Progrmador</h3>
</div>
{% endblock %}

<!-- Content -->
{% block content %}
<div class="home bkg-img p-5">
  <div class="container">
    <div class="row">
      <div class="col-12 brand">
        <div>
          <h1>Alejandro Jesús Serrano</h1>
        </div>
        <div>
          <h3>Desarrollador Web</h3>
        </div>
        <div>
          <h3>Progrmador</h3>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}